.jumbotron {
     border: 2px;
     border-color: #FFE070 !important;
     background-color: #FFFFFF;
 }

#wouter {
    background-color: #FF3B56;
}

.card-header {
background-color: #FF3B56;}

.card-block {
background-color: #FFB37D;}

#groepCard {
background-color: #FFB37D;}

#reisItemCard {
background-color: #FFB37D;
width: 42rem;
}

#reisItemCard:hover {
    transform: scale(1.05);
    opacity:0.9;
}

#groepImg {
    display: block;
      width: 200px;
      height: 200px;
      margin: 1em auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 99em;
      -moz-border-radius: 99em;
      border-radius: 99em;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#reisItemImg {
    display: block;
      width: 200px;
      height: 200px;
      margin: 1em auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 99em;
      -moz-border-radius: 99em;
      border-radius: 99em;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#reisItemImg-klein {
    display: block;
          width: 100px;
          height: 100px;
          margin: 1em auto;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          -webkit-border-radius: 99em;
          -moz-border-radius: 99em;
          border-radius: 99em;
          border: 1px solid #eee;
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#groepCard:hover {
    transform: scale(1.1);
    opacity:0.9;
}

#groepImg-klein {
    display: block;
              width: 50px;
              height: 50px;
              margin: 1em auto;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center center;
              -webkit-border-radius: 99em;
              -moz-border-radius: 99em;
              border-radius: 99em;
              border: 1px solid #eee;
              box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

 .btn-primary:hover {
    color: #ffffff !important;
    background-color: #FF3B56;
    border-color: #FFE070 !important;
    transition: all 0.4s ease 0s;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #FF3B56;
}

.nav-link {
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Viga', sans-serif;
}

#groepCardText {
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Viga', sans-serif;
}

#groepCardText:hover {
color: #FFE070;
}

a {
text-decoration: none !important; }

.nav-link:hover {
    color: #FFE070;
}

form .error {
  color: #ff0000;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label {
  width: 300px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

label span {
  font-size: 1rem;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
  width: 300px;
  margin-top: 10px;
}

#message {
  display:none;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

.valid {
border-color: green;
  color: green;
}

.valid:before {
  position: relative;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  border-color: red;
  color: red;
}

.invalid:before {
  position: relative;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:1px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}